html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  height: auto;
  grid-template-areas: "data photo";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 7rem;
}

.data {
  grid-area: data;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(244, 38%, 16%);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  padding: 2rem 5.4rem 2rem 4rem;
}

.photo {
  grid-area: photo;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background: hsl(277, 64%, 61%);
  background-image: url("images/image-header-desktop.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: hsla(0, 0%, 100%, 0.75);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* utility classes */
.font-primary {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 2.4rem;
}

.font-primary span {
  color: hsl(277, 64%, 61%);
}

.font {
  line-height: 1.6;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.achievements {
  display: flex;
}
.font span {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.3rem;
  display: block;
  font-weight: 700;
}
.achievements p {
  margin-right: 4.5rem;
}
.margin {
  margin-bottom: 4rem;
}
